/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer**/oh-package-lock.json5
**/*build-profile.json5
**/*oh-package.json5
# 鸿蒙编译产物
build/
out/
*.lock
*lock.json5
*.json5
node_modules/
